html {
  text-align: center;
  font-family: Helvetica;
}

a {
  font-size: 18px;
}

.design {
  background-image: url("file:///Users/devius1/workflow/Codeacademy/broadway/resources/images/the-flatiron-building.png");
}

h1 {
  font-size: 70px;
  font-weight: bold;
  color: white;
}
h2, h3 {
  font-weight: bold;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 23px;
}


p #copyright {
  font-size: 14px;
}

#footer {
  font-size: 11px;
  color: white;
  background-color: dimgray;
  text-align: left;
}
